* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "微软雅黑";
}

.notify {
  font-size: 0;
  position: fixed;
  top: 10px;
  right: 10px;
  list-style: none;
  z-index: 10000;
}

.notify .noitfy_item {
  position: relative;
  font-size: 14px;
  margin-bottom: 5px;
  width: 300px;
  min-height: 100px;
  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 0 1px 9px -2px #b1b1b1;
  padding: 10px;
  transform: translateX(320px);
  opacity: 0;
  transition: all .3s;
}

.noitfy_item.slide_in {
  transform: translateX(0);
  opacity: 1;
}

.notify .notify_header {
  padding: 5px 10px;
}

.notify .notify_content {
  padding: 0px 10px 15px;
  color: #777575;
  text-align: left;
}

.notify .notify_content .fa {
  color: #3fc78d;
  margin-right: 5px;
}

.notify .notify_footer {
  text-align: right;
}

.notify .notify_btn {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 2px;
  color: #bfbfbf;
  font-size: 12px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
  padding: 2px 10px;
}

.notify .notify_btn--success {
  background-color: #3fc78d;
  color: #fff;
  border-color: #3fc78d;
}

.notify .notify_close {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  color: #d0d0d0;
  cursor: pointer;
}

.notify .notify_icon {
  position: absolute;
  top: 11px;
  left: 10px;
  display: inline-block;
  font-style: normal;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
}

.notify_icon.info{
  background-color: #288EF7;
}
.notify_icon.success{
  background-color: #2DBF23;
}
.notify_icon.wran{
  background-color: #F7A428;
}
.notify_icon.error{
  background-color: #EC3F17;
}
